@charset "utf-8";
@import "normalize";

.container {
  margin-top: 80px;
}

#portrait {
  width: 100px;
  border-radius: 5px;
  border-color: #7f8177;
}

ul {
  list-style-type: none;
}

.fa-portrait {
  font: normal normal normal 100px FontAwesome;
  color: #7f8177;
}

.index .frontpage {
  text-align: center;
  h1 {
    font-size: 42px;
    margin-bottom: 40px;
  }
  img {
    width: 300px;
    border-radius: 10px;
    border-color: #7f8177;
    border: 4px solid;
    margin-bottom: 40px;
  }
}
