<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Tätä sivustoa ylläpitää <%= link_to 'Pertti Kulmala', '/tietoa.html' %>
      </p>
      <p>
        <%= link_to 'Jolte julkaisuohjelma sukututkijoille', 'https://github.com/perttitaneli/jolte' %>
      </p>
    </div>
  </div>
</footer>
