<% lapset = current_page.data.try(:lapset) %>

<% if lapset.present? %>
    <% lapsilista = lapset.split(',') %>
    <h4>Lapset</h4>
    <ul>
      <% lapsilista.each do |lapsi| %>
          <li>
            <%= taululinkki lapsi %>
          </li>
      <% end %>
    </ul>
<% end %>