<div class="well">
  <div class="row">
    <div class="col-lg-12">

      <% aidit = puolisot tämä_artikkeli %>
      <% aidit.each do |aiti| %>
          <div class="row">
            <div class="col-lg-6">
              Puolisot:<br>
              <%= artikkelilinkki aiti %>
            </div>
            <div class="col-lg-6">
              Lapset: <br>
              <% lapset = lapset(current_page, aiti) %>
              <% lapset.each do |lapsi| %>
                  <% if lapsi == tämä_artikkeli %>
                      <span class="me"><%= henkilötiedot lapsi %></span>
                  <% else %>
                      <%= artikkelilinkki lapsi %>
                  <% end %>
                  <br>
              <% end %>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>