<aside>
  <%= link_to 'Etusivu', 'http://perttitaneli.github.io/jolte/' %>
  <% if current_page.data.henkilöt.present? %>
      <h4>Tarinassa esiintyvät</h4>
      <ul>
        <% current_page.data.henkilöt.split(',').each do |person| %>
            <li>
              <%= nimilinkki person %>
            </li>
        <% end %>
      </ul>
  <% end %>


  <h4><%= link_to 'Henkilöt', '/henkilot'%></h4>

  <h4>Tarinat</h4>
  <ul>
    <% sitemap.resources.each_with_index do |article, i| %>
        <% if article.path.include?('tarinat') %>
            <li>
              <%= link_to article.data.linkki, article %>
            </li>
        <% end %>
    <% end %>
  </ul>
</aside>
