---
taulu: H303
etunimet: Carl
sukunimi: Jolkki
syntyi: 
puoliso: 
lapset: 
syntypaikka: 
sukupuoli: 
---

Koski Tl. Hongisto Ojala torp


Vanhemmat:

<b>Johannes</b> Andersson Ojala s.13.7.1807 Koski Tl Hongisto Ojala torp < A401 k.11.10.1841 34v 3kk länhugg Mikola

Maria Johansdr s.21.11.1813 Hongisto Mikola skh < A402 k.17.2.1851 47v 3kk nerffeb. Iso­Sorvasto Ojala

Lapset:

Johan Gustaf s.25.12.1834 Ojala

Carl s.25.1.1837 Ojala Torp Anna Mirandan isä

Wilhelmina s.20.6.1839 Mikola skh

Maria Justina s.17.9.1841 Mikola


<span style="color:green">
Lähteet: HisKi, SSHY Rippikirja Koski Tl 1816­22 Ojala torp, 1839­45 Hongisto Mikola skattehemman (skh, verotalo)
<br/>
Tammelin släkter: Kalle Juhonpoika Mikola, s. 25.01.1837. Noin vuodesta 1869 isäntänä Halikkolan Jolkilla.
</span>
