<h1>Henkilöt</h1>
<ul>
  <% sitemap.resources.each do |article| %>
      <% if article.path.include?('suku/') %>
          <li>
            <%= person_link article %>
          </li>
      <% end %>
  <% end %>
</ul>





