<aside>
  <%= link_to 'Etusivu', '/' %>
  <h2>Sisältö</h2>
  <ul>
    <% sitemap.resources.each_with_index do |article, i| %>
        <% if article.data.sukunimi.present? %>
            <li>
              <% nimi = "#{article.data.etunimet} #{article.data.sukunimi}" %>
              <%= link_to nimi, article.path %>

            </li>
        <% end %>
    <% end %>
  </ul>
</aside>
